{
  "parser": "babel-eslint",
  "extends": ["enough"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["html", "vue"],
  "globals": {
    "DEBUG": false,
    "VERSION": false,
    "CONFIG": false
  },
  "rules": {
    "no-console": "off",
    "linebreak-style": 0,
    "valid-jsdoc": 0,
    "no-useless-escape": "off",
    "no-unused-expressions": "off",
    "semi": "off",
    "quotes": "off",
    "new-cap": "off",
    "eqeqeq": "off",
    "no-unused-vars": "error",
    "array-callback-return": "off",
    "no-extra-parens": "off",
    "comma-dangle": "off",
    "no-case-declarations": "off",
    "prefer-rest-params": "off",
    "no-debugger": "off"
  }
}
