node_modules
.cache-loader
npm-debug.log*
debug.log
.DS_Store
.idea
.vscode
conf/*
!conf/default.js
!conf/dev.js
dist/
dist.zip
*.log
yarn.lock
config/test.js
package.bat
test.bat
package-lock.json